.idea/
target/
*.iml
*.swp
ci_infra/.vagrant
ci_infra/concourse/docker-compose.yml
ci_infra/dnsmasq/docker-compose.yml
ci_infra/fly/entrypoint.sh
ci_infra/registry/docker-compose.yml
ci_infra/consul/docker-compose.yml
ci_infra/fly/pipelines/credentials.yml
